// Place all the styles related to the instances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instance_new_phrase h1 {
	margin-top: 0;
}

.instance_new_bg {
	background-color: #ce7d78;
	height: 100%;
}

.instance_new_phrase h1 {
	color: white;
	text-align: center;
	text-shadow: 1px 1px black;
	font-family: 'Righteous', cursive;
	font-size: 5vw;
	padding-top: 10%;
}

.instance_new_field {
	text-align: center;
	width: 20vw;
	height: 3.5vw;
	margin-top: 1%;
	border-radius: 5px;
	border: none;
}

.instance_new_button_box {
	text-align: center;
	margin-top: 2%;
}

#instance_pain_type {
	text-align: center;
	width: 20vw;
	height: 3.5vw;
	margin-top: 1%;
	border-radius: 5px;
	border: none;
	font-size: 2.5vw;
}

.instance_new_button {
	margin-top: 3%;
	border: none;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	width: 20vw;
	color: white;
	font-family: 'Righteous', cursive;
	font-size: 5vw;
}

.instance_index_bg {
	background-color: #ce7d78;
	height: 100%;
}

.instance_index_box {
	border: 1px solid white;
	text-align: center;
	height: 70%;
	overflow: scroll;
}

.instance_index_title {
	border-bottom: 1px solid white;
	border-left: 1px solid white;
}

.instance_index_title a {
	font-size: 3vw;
	color: white;
	text-decoration: underline;
}

.instance_index_date {
	border-bottom: 1px solid white;
	color: white;
	font-size: 3vw;
}

.instance_index_history h1 {
	margin-top: 0;
	text-align: center;
	color: white;
	font-family: 'Righteous', cursive;
	font-size: 5vw;
	text-shadow: 1px 1px black;
}