weathers New
<h2 class="user_new_box_title">New weather</h2>
<%= form_for @weather do |f| %>
<%= f.text_field :description, :placeholder => 'Description' %>
<%= f.text_field :title, :placeholder => 'Title' %>
<%= f.submit :create, :value => "Save" %>
<% end %>